
        <section id="slide-container">
            <div id="slide-main">
              {{#sliders}}
                <div class="slide-frame frame-{{@index}}">
                    <span class="zoomed-image" style="background-image:url({{{img}}})" link="{{{img}}}" name="{{title}}">&nbsp;</span>
                    <div class="slide-bottom">
                        <h2>{{title}}</h2>
                    </div>
                    <div class="slide-icons">
                        <a class="slide-left-arrow">Left</a>
                        <a href={{img}}  class="slide-zoom">Zoom in</a>
                        <a href="#/materials/{{key}}" class="slide-link">Open link</a>
                        <a class="slide-right-arrow">Right</a>
                    </div>
                </div>
            {{/sliders}}
            </div>
        </section>

<div id="features">
    <section class="wrapper">
        <div class="container-fluid" id="features-list">
            <div class="row">
                <div class="col-md-4 pl-0">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="images/f1-icon.png" alt="feature-icon">
                        </div>
                        <div class="col-sm-10">
                            <div>
                                <h2>What We Offer</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                                </p>
                                <div>
                                    <button class="btn read-more">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 center-col">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="images/f2-icon.png" alt="feature-icon">
                        </div>
                        <div class="col-sm-10">
                            <div>
                                <h2>Who We Are</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id fringilla
                                    purus feugiat.
                                </p>
                                <div>
                                    <button class="btn read-more">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pr-0">
                    <div class="row">
                        <div class="col-sm-2 ">
                            <img src="images/f3-icon.png" alt="feature-icon">
                        </div>
                        <div class="col-sm-10">
                            <div>
                                <h2>Our Mission</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id fringilla
                                    purus feugiat. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                                </p>
                                <div>
                                    <button class="btn read-more">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="info">
        <div class="wrapper">
            <div class="container-fluid clear">
                <img src="images/quote.png" alt="quote-icon" id="quote">
                <p>Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien. Quisque tincidunt, nunc vitae adipiscing</p>
            </div>
        </div>
        <div class="wrapper">
            <img src="images/additional-info.png" alt="additional-info-icon" id="additional-info">
        </div>
    </section>
    <!--End info-->

    <section id="home-gallery">
        <div class="wrapper">
            {{!-- {{#landmarks}}
            <div class="img-container">
                <img src={{img}} class="img-thumbnail project-image" alt="Make A Wish">
                <a href={{img}} class="zoom-icon fancybox" rel="media" title="Make A Wish">
                            Zoom In							</a>
                <a href="#/materials/{{key}}" class="more-icon">Read more</a>
            </div>
            {{/landmarks}}
    
        </div> --}}



            <div class="container-fluid clear" >
        <div class="row">
            {{#landmarks}}
            <div class="col-md-1-5">
                <div class="portfolio-img-container" >
                    <img  class="img-thumbnail img-fluid" src={{img}} alt="">
                    <a href={{img}} class="zoom-icon"> Zoom In</a>
                    <a href="#/materials/{{key}}" class="more-icon">Read more</a>
                    </div>
                </div>
            {{/landmarks}} 
           </div>
    </div>
  
    </section>

    <!--End recent work-->
</div>
<div class="clearfix"></div>